
h1{
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}
h2{
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

#addbooks {
  max-width: 300px;
  margin: 0 auto;
  padding: 23px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #ccc
}

input[type="text"] {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the Add Book button */
#addbtn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  
}

#addbtn:hover {
  background-color: #0056b3;
}


#container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  font-size: 25px; 
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}
#removebtn{
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  

}
#bookTable{
  padding: 20px;
  text-align: center;
}

